<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
    android:label:replace
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="shoper"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Charity" />
        <activity android:name=".Entertainment" />
        <activity android:name=".Grocery" />
        <activity android:name=".Gift" />
        <activity android:name=".Mobile" />
        <activity android:name=".Food" />
        <activity android:name=".Clothes" />
        <activity android:name=".Book" />
        <activity android:name=".Index"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>